:root, [data-theme=classic] {
    --indicator-9: #776bf8;
    --indicator-9-rgb: 119, 107, 248;
    --indicator-9-rgba: rgba(119, 107, 248, 1);
    --indicator-8: #f15131;
    --indicator-8-rgb: 241, 81, 49;
    --indicator-8-rgba: rgba(241, 81, 49, 1);
    --indicator-7: #f47961;
    --indicator-7-rgb: 244, 121, 97;
    --indicator-7-rgba: rgba(244, 121, 97, 1);
    --indicator-6: #09e5d7;
    --indicator-6-rgb: 9, 229, 215;
    --indicator-6-rgba: rgba(9, 229, 215, 1);
    --indicator-5: #fe4995;
    --indicator-5-rgb: 254, 73, 149;
    --indicator-5-rgba: rgba(254, 73, 149, 1);
    --indicator-4: #2b64f8;
    --indicator-4-rgb: 43, 100, 248;
    --indicator-4-rgba: rgba(43, 100, 248, 1);
    --indicator-3: #f9b42e;
    --indicator-3-rgb: 249, 180, 46;
    --indicator-3-rgba: rgba(249, 180, 46, 1);
    --indicator-2: #edd502;
    --indicator-2-rgb: 237, 213, 2;
    --indicator-2-rgba: rgba(237, 213, 2, 1);
    --indicator-1: #1fbf75;
    --indicator-1-rgb: 31, 191, 117;
    --indicator-1-rgba: rgba(31, 191, 117, 1);
    --contrast-alpha: #fff;
    --contrast-alpha-rgb: 255, 255, 255;
    --contrast-alpha-rgba: rgba(255, 255, 255, 1);
    --contrast-beta: #a5bdd9;
    --contrast-beta-rgb: 165, 189, 217;
    --contrast-beta-rgba: rgba(165, 189, 217, 1);
    --contrast-gamma: #5b728c;
    --contrast-gamma-rgb: 91, 114, 140;
    --contrast-gamma-rgba: rgba(91, 114, 140, 1);
    --high-gamma: #253850;
    --high-gamma-rgb: 37, 56, 80;
    --high-gamma-rgba: rgba(37, 56, 80, 1);
    --high-beta: #2f4765;
    --high-beta-rgb: 47, 71, 101;
    --high-beta-rgba: rgba(47, 71, 101, 1);
    --high-alpha: #2a405b;
    --high-alpha-rgb: 42, 64, 91;
    --high-alpha-rgba: rgba(42, 64, 91, 1);
    --base-alpha: #203146;
    --base-alpha-rgb: 32, 49, 70;
    --base-alpha-rgba: rgba(32, 49, 70, 1);
    --base-beta: #253850;
    --base-beta-rgb: 37, 56, 80;
    --base-beta-rgba: rgba(37, 56, 80, 1);
    --base-gamma: #1c2a3b;
    --base-gamma-rgb: 28, 42, 59;
    --base-gamma-rgba: rgba(28, 42, 59, 1);
    --bg-gamma: #131e2a;
    --bg-gamma-rgb: 19, 30, 42;
    --bg-gamma-rgba: rgba(19, 30, 42, 1);
    --bg-beta: #1c2a3b;
    --bg-beta-rgb: 28, 42, 59;
    --bg-beta-rgba: rgba(28, 42, 59, 1);
    --bg-alpha: #172331;
    --bg-alpha-rgb: 23, 35, 49;
    --bg-alpha-rgba: rgba(23, 35, 49, 1);
    --negative-gamma: #e1310f;
    --negative-gamma-rgb: 225, 49, 15;
    --negative-gamma-rgba: rgba(225, 49, 15, 1);
    --negative-beta: #f47961;
    --negative-beta-rgb: 244, 121, 97;
    --negative-beta-rgba: rgba(244, 121, 97, 1);
    --negative-alpha: #f15131;
    --negative-alpha-rgb: 241, 81, 49;
    --negative-alpha-rgba: rgba(241, 81, 49, 1);
    --positive-gamma: #18955b;
    --positive-gamma-rgb: 24, 149, 91;
    --positive-gamma-rgba: rgba(24, 149, 91, 1);
    --positive-beta: #35df90;
    --positive-beta-rgb: 53, 223, 144;
    --positive-beta-rgba: rgba(53, 223, 144, 1);
    --positive-alpha: #1fbf75;
    --positive-alpha-rgb: 31, 191, 117;
    --positive-alpha-rgba: rgba(31, 191, 117, 1);
    --warning-gamma: #ee9f07;
    --warning-gamma-rgb: 238, 159, 7;
    --warning-gamma-rgba: rgba(238, 159, 7, 1);
    --warning-beta: #fac661;
    --warning-beta-rgb: 250, 198, 97;
    --warning-beta-rgba: rgba(250, 198, 97, 1);
    --warning-alpha: #f9b42e;
    --warning-alpha-rgb: 249, 180, 46;
    --warning-alpha-rgba: rgba(249, 180, 46, 1);
    --accent-gamma: #0076cc;
    --accent-gamma-rgb: 0, 118, 204;
    --accent-gamma-rgba: rgba(0, 118, 204, 1);
    --accent-beta: #33a9ff;
    --accent-beta-rgb: 51, 169, 255;
    --accent-beta-rgba: rgba(51, 169, 255, 1);
    --accent-alpha: #0094ff;
    --accent-alpha-rgb: 0, 148, 255;
    --accent-alpha-rgba: rgba(0, 148, 255, 1);
    --button-contrast-alpha: #fff;
    --button-contrast-alpha-rgb: 255, 255, 255;
    --button-contrast-alpha-rgba: rgba(255, 255, 255, 1);
    --button-contrast-gamma: #000;
    --button-contrast-gamma-rgb: 0, 0, 0;
    --button-contrast-gamma-rgba: rgba(0, 0, 0, 1);
    --chart-grid-lines-colour: #1e2a37;
    --chart-grid-lines-colour-rgb: 30, 42, 55;
    --chart-grid-lines-colour-rgba: rgba(30, 42, 55, 1);
    --chart-line-1: #02a6f2;
    --chart-line-1-rgb: 2, 166, 242;
    --chart-line-1-rgba: rgba(2, 166, 242, 1);
    --chart-line-2: #7bcbf0;
    --chart-line-2-rgb: 123, 203, 240;
    --chart-line-2-rgba: rgba(123, 203, 240, 1);
    --border: #203146;
    --border-rgb: 32, 49, 70;
    --border-rgba: rgba(32, 49, 70, 0);
}

[data-theme=dark] {
    --chart-grid-lines-colour: #151619;
    --chart-grid-lines-colour-rgb: 21,22,25;
    --chart-grid-lines-colour-rgba: #151619;
    --chart-line-2: #7bcbf0;
    --chart-line-2-rgb: 123,203,240;
    --chart-line-2-rgba: #7bcbf0;
    --chart-line-1: #02a6f2;
    --chart-line-1-rgb: 2,166,242;
    --chart-line-1-rgba: #02a6f2;
    --indicator-9: #776bf8;
    --indicator-9-rgb: 119,107,248;
    --indicator-9-rgba: #776bf8;
    --indicator-8: #de4444;
    --indicator-8-rgb: 222,68,68;
    --indicator-8-rgba: #de4444;
    --indicator-7: #ef7d57;
    --indicator-7-rgb: 239,125,87;
    --indicator-7-rgba: #ef7d57;
    --indicator-6: #00adb2;
    --indicator-6-rgb: 0,173,178;
    --indicator-6-rgba: #00adb2;
    --indicator-5: #f425f4;
    --indicator-5-rgb: 244,37,244;
    --indicator-5-rgba: #f425f4;
    --indicator-4: #06f;
    --indicator-4-rgb: 0,102,255;
    --indicator-4-rgba: #06f;
    --indicator-3: #e98b07;
    --indicator-3-rgb: 233,139,7;
    --indicator-3-rgba: #e98b07;
    --indicator-2: #aa9009;
    --indicator-2-rgb: 170,144,9;
    --indicator-2-rgba: #aa9009;
    --indicator-1: #0a9957;
    --indicator-1-rgb: 10,153,87;
    --indicator-1-rgba: #0a9957;
    --contrast-border: #1a1d21;
    --contrast-border-rgb: 26,29,33;
    --contrast-border-rgba: rgba(26,29,33,0);
    --contrast-gamma: #70808c;
    --contrast-gamma-rgb: 112,128,140;
    --contrast-gamma-rgba: #70808c;
    --contrast-beta: #9cb0c2;
    --contrast-beta-rgb: 156,176,194;
    --contrast-beta-rgba: #9cb0c2;
    --contrast-alpha: #fff;
    --contrast-alpha-rgb: 255,255,255;
    --contrast-alpha-rgba: #fff;
    --high-gamma: #212529;
    --high-gamma-rgb: 33,37,41;
    --high-gamma-rgba: #212529;
    --high-beta: #2d3138;
    --high-beta-rgb: 45,49,56;
    --high-beta-rgba: #2d3138;
    --high-alpha: #272930;
    --high-alpha-rgb: 39,41,48;
    --high-alpha-rgba: #272930;
    --base-gamma: #14161a;
    --base-gamma-rgb: 20,22,26;
    --base-gamma-rgba: #14161a;
    --base-beta: #24262d;
    --base-beta-rgb: 36,38,45;
    --base-beta-rgba: #24262d;
    --base-alpha: #1a1d21;
    --base-alpha-rgb: 26,29,33;
    --base-alpha-rgba: #1a1d21;
    --bg-gamma: #08090a;
    --bg-gamma-rgb: 8,9,10;
    --bg-gamma-rgba: #08090a;
    --bg-beta: #14161a;
    --bg-beta-rgb: 20,22,26;
    --bg-beta-rgba: #14161a;
    --bg-alpha: #0e0f12;
    --bg-alpha-rgb: 14,15,18;
    --bg-alpha-rgba: #0e0f12;
    --negative-on-negative: #fff;
    --negative-on-negative-rgb: 255,255,255;
    --negative-on-negative-rgba: #fff;
    --negative-gamma: #e1310f;
    --negative-gamma-rgb: 225,49,15;
    --negative-gamma-rgba: #e1310f;
    --negative-beta: #f47961;
    --negative-beta-rgb: 244,121,97;
    --negative-beta-rgba: #f47961;
    --negative-alpha: #f15131;
    --negative-alpha-rgb: 241,81,49;
    --negative-alpha-rgba: #f15131;
    --warning-on-warning: #000;
    --warning-on-warning-rgb: 0,0,0;
    --warning-on-warning-rgba: #000;
    --warning-gamma: #ee9f07;
    --warning-gamma-rgb: 238,159,7;
    --warning-gamma-rgba: #ee9f07;
    --warning-alpha: #f9b42e;
    --warning-alpha-rgb: 249,180,46;
    --warning-alpha-rgba: #f9b42e;
    --warning-beta: #fac661;
    --warning-beta-rgb: 250,198,97;
    --warning-beta-rgba: #fac661;
    --positive-on-positive: #fff;
    --positive-on-positive-rgb: 255,255,255;
    --positive-on-positive-rgba: #fff;
    --positive-gamma: #18955b;
    --positive-gamma-rgb: 24,149,91;
    --positive-gamma-rgba: #18955b;
    --positive-beta: #35df90;
    --positive-beta-rgb: 53,223,144;
    --positive-beta-rgba: #35df90;
    --positive-alpha: #1fbf75;
    --positive-alpha-rgb: 31,191,117;
    --positive-alpha-rgba: #1fbf75;
    --accent-on-accent: #fff;
    --accent-on-accent-rgb: 255,255,255;
    --accent-on-accent-rgba: #fff;
    --accent-gamma: #0076cc;
    --accent-gamma-rgb: 0,118,204;
    --accent-gamma-rgba: #0076cc;
    --accent-beta: #33a9ff;
    --accent-beta-rgb: 51,169,255;
    --accent-beta-rgba: #33a9ff;
    --accent-alpha: #0094ff;
    --accent-alpha-rgb: 0,148,255;
    --accent-alpha-rgba: #0094ff;
}
